pipeline/data/2-processing/chroma_db_knowledge_base_pdf/
pipeline/data/2-processing/chroma_db_zoppellaro/
pipeline/data/2-processing/chroma_db_catalogo/
pipeline/data/3-user_interface/database_chat.db
pipeline\script\2-processing\__pycache__